html {
  background-color: hsl(204, 43%, 93%);
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

h2, h4, p {
  margin: 0;
}



*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 40px;
}

#card {
  width: 600px;
  height: 350px;
  box-shadow: 4px 3px 8px rgb(0,0,0,0.35);
  border-radius: 5px;
  overflow: hidden;
  
}

#top-box {
  background-color: white;
  height: 42%;
  padding: 20px;


  
    
}

#bottom-section {
  width: 100%;
  height: 58%;

}

#bl-box {
  display: inline-block;
  vertical-align: top;
  background-color: hsl(179, 62%, 43%);
  width: 50%;
  height: 100%;
  padding: 20px;

}



#br-box {
  display: inline-block;
  background-color: hsl(179, 62%, 47%);
  width: 50%;
  height: 100%;
  padding: 20px;

  
}

#button {
  margin-top: 20px;
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 25%;
  box-shadow: 4px 3px 8px rgb(0,0,0,0.35);
  
  
}

.cyan {
  color: hsl(179, 62%, 43%); 
}

.light-cyan {
  color: hsl(179, 62%, 60%); 
}

.green {
  color: hsl(71, 73%, 54%); 
}

.grey {
  color: hsl(218, 22%, 67%); 
}

.white {
  color: white; 
  list-style-type: none;
  padding-left: 0;
}

#join {
  margin-bottom: 15px;
}

#day {
  margin-bottom: 10px;
}
#price {
  display: inline-block;
  font-size: 26px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#per {
  display: inline-block;
}
#button:hover {
  background-color: hsl(71, 73%, 49%);
  cursor: pointer;
  transform: scale(1.01)
}

#br-box ul {
  font-size: 13px;
}
